[Unit]
Description=eLGate

[Service]
ExecStart=<<<EXEC_PATH>>>
Restart=always
User=<<<USER>>>
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
